.{
	padding: 0;
	margin: 0;
}
h2{
	text-align: center;
	text-decoration: underline;
	text-decoration-color: white;
}
body{
	text-align: center;
	background-color: lightblue;
	text-decoration-color: white;
	margin-left: 100px;
	margin-right: 100px;

}
img{
	align-content: center;
	width: 500px;
	height: 250px;
}
p{
	text-decoration-color: white;
}
#wxyz{
	width: 600px;
	height: 700px;
}